In [ ]:
%pip install topojson geopandas pycountry-convert pycountry

Collecting topojson
  Downloading topojson-1.10-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: geopandas in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.1.1)
Requirement already satisfied: numpy in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from topojson) (2.2.4)
Requirement already satisfied: shapely in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from topojson) (2.1.2)
Requirement already satisfied: packaging in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from topojson) (24.2)
Requirement already satisfied: pyogrio>=0.7.2 in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (0.11.1)
Requirement already satisfied: pandas>=2.0.0 in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (2.3.1)
Requirement already satisfied: pyproj>=3.5.0 in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from geopandas) (3.7.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=2.0.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=2.0.0->geopandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=2.0.0->geopandas) (2025.2)
Requirement already satisfied: certifi in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyogrio>=0.7.2->geopandas) (2025.7.14)
Requirement already satisfied: six>=1.5 in c:\users\durga\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->geopandas) (1.17.0)
Downloading topojson-1.10-py3-none-any.whl (83 kB)
   ---------------------------------------- 0.0/83.3 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/83.3 kB ? eta -:--:--
   --------- ------------------------------ 20.5/83.3 kB 330.3 kB/s eta 0:00:01
   ------------------- -------------------- 41.0/83.3 kB 330.3 kB/s eta 0:00:01
   ---------------------------------------- 83.3/83.3 kB 468.4 kB/s eta 0:00:00
Installing collected packages: topojson
Successfully installed topojson-1.10
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: C:\Users\durga\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [14]:
import pandas as pd
import glob
import os

files = glob.glob("modis_2024_all_countries/modis/2024/*.csv")

dfs = []
for f in files:
    df = pd.read_csv(f)
    basename = os.path.splitext(os.path.basename(f))[0]
    parts = basename.split("_")
    country = " ".join(parts[2:])
    df["country"] = country
    dfs.append(df)

all_data = pd.concat(dfs, ignore_index=True)
all_data

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type,country
0,35.0125,70.9894,315.8,2.0,1.4,2024-01-01,823,Aqua,MODIS,76,61.03,281.1,45.7,D,0,Afghanistan
1,35.0100,70.9892,304.7,1.2,1.1,2024-01-02,904,Aqua,MODIS,57,61.03,287.7,9.8,D,0,Afghanistan
2,35.0114,71.0010,305.2,1.2,1.1,2024-01-02,904,Aqua,MODIS,61,61.03,287.1,10.8,D,0,Afghanistan
3,35.0186,70.9932,317.1,1.2,1.1,2024-01-02,1703,Terra,MODIS,94,61.03,273.6,27.9,N,0,Afghanistan
4,34.7163,70.7190,309.9,2.3,1.5,2024-01-03,505,Terra,MODIS,69,61.03,285.1,35.0,D,0,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4848242,-17.6819,31.4248,328.5,1.0,1.0,2024-12-23,1231,Aqua,MODIS,68,61.03,304.9,12.9,D,0,Zimbabwe
4848243,-18.4262,26.5125,321.2,1.0,1.0,2024-12-25,737,Terra,MODIS,44,61.03,299.0,8.1,D,0,Zimbabwe
4848244,-20.7198,30.8747,316.0,1.8,1.3,2024-12-30,740,Terra,MODIS,28,61.03,291.9,15.6,D,0,Zimbabwe
4848245,-18.4297,26.5058,304.7,1.1,1.1,2024-12-30,1949,Terra,MODIS,32,61.03,289.9,7.3,N,0,Zimbabwe
4848246,-18.4284,26.5163,302.6,1.1,1.1,2024-12-30,1949,Terra,MODIS,31,61.03,288.1,5.3,N,0,Zimbabwe

In [15]:
import pycountry_convert as pc
import pycountry

def country_to_continent(country_name):
    try:
        # get ISO alpha-2 from country name
        country = pycountry.countries.lookup(country_name)
        country_alpha2 = country.alpha_2
        
        # convert to continent code
        continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        
        # convert continent code to name
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    
    except:
        return None

In [16]:
all_data["continent"] = all_data["country"].apply(country_to_continent)
all_data

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type,country,continent
0,35.0125,70.9894,315.8,2.0,1.4,2024-01-01,823,Aqua,MODIS,76,61.03,281.1,45.7,D,0,Afghanistan,Asia
1,35.0100,70.9892,304.7,1.2,1.1,2024-01-02,904,Aqua,MODIS,57,61.03,287.7,9.8,D,0,Afghanistan,Asia
2,35.0114,71.0010,305.2,1.2,1.1,2024-01-02,904,Aqua,MODIS,61,61.03,287.1,10.8,D,0,Afghanistan,Asia
3,35.0186,70.9932,317.1,1.2,1.1,2024-01-02,1703,Terra,MODIS,94,61.03,273.6,27.9,N,0,Afghanistan,Asia
4,34.7163,70.7190,309.9,2.3,1.5,2024-01-03,505,Terra,MODIS,69,61.03,285.1,35.0,D,0,Afghanistan,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4848242,-17.6819,31.4248,328.5,1.0,1.0,2024-12-23,1231,Aqua,MODIS,68,61.03,304.9,12.9,D,0,Zimbabwe,Africa
4848243,-18.4262,26.5125,321.2,1.0,1.0,2024-12-25,737,Terra,MODIS,44,61.03,299.0,8.1,D,0,Zimbabwe,Africa
4848244,-20.7198,30.8747,316.0,1.8,1.3,2024-12-30,740,Terra,MODIS,28,61.03,291.9,15.6,D,0,Zimbabwe,Africa
4848245,-18.4297,26.5058,304.7,1.1,1.1,2024-12-30,1949,Terra,MODIS,32,61.03,289.9,7.3,N,0,Zimbabwe,Africa
4848246,-18.4284,26.5163,302.6,1.1,1.1,2024-12-30,1949,Terra,MODIS,31,61.03,288.1,5.3,N,0,Zimbabwe,Africa

In [17]:
fixes = {
    "Cape Verde": "Africa",
    "Cote d Ivoire": "Africa",   # Côte d'Ivoire
    "Curacao": "North America",  # Caribbean → continent = North America
    "Democratic Republic of the Congo": "Africa",
    "Dem Rep Korea": "Asia",     # North Korea
    "Heard I and McDonald Islands": "Oceania",  # Officially part of the Antarctic region
    "Kosovo": "Europe",
    "Lao PDR": "Asia",           # Laos
    "Macedonia Former Yugoslav Republic of": "Europe",  # North Macedonia
    "Palestine": "Asia",
    "Republic of Congo": "Africa",   # Congo-Brazzaville
    "Republic of Korea": "Asia",     # South Korea
    "Reunion": "Africa",             # Admin region of France; geographically East Africa
    "Saint Helena": "Africa",
    "Swaziland": "Africa",           # Eswatini
    "The Gambia": "Africa",
    "Timor-Leste": "Asia",           # East Timor
    "Turkey": "Asia",                # Often Eurasia, but continent = Asia for most datasets
    "United States Minor Outlying Islands": "North America",
}

all_data["continent"] = all_data["continent"].fillna(all_data["country"].map(fixes))
all_data

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type,country,continent
0,35.0125,70.9894,315.8,2.0,1.4,2024-01-01,823,Aqua,MODIS,76,61.03,281.1,45.7,D,0,Afghanistan,Asia
1,35.0100,70.9892,304.7,1.2,1.1,2024-01-02,904,Aqua,MODIS,57,61.03,287.7,9.8,D,0,Afghanistan,Asia
2,35.0114,71.0010,305.2,1.2,1.1,2024-01-02,904,Aqua,MODIS,61,61.03,287.1,10.8,D,0,Afghanistan,Asia
3,35.0186,70.9932,317.1,1.2,1.1,2024-01-02,1703,Terra,MODIS,94,61.03,273.6,27.9,N,0,Afghanistan,Asia
4,34.7163,70.7190,309.9,2.3,1.5,2024-01-03,505,Terra,MODIS,69,61.03,285.1,35.0,D,0,Afghanistan,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4848242,-17.6819,31.4248,328.5,1.0,1.0,2024-12-23,1231,Aqua,MODIS,68,61.03,304.9,12.9,D,0,Zimbabwe,Africa
4848243,-18.4262,26.5125,321.2,1.0,1.0,2024-12-25,737,Terra,MODIS,44,61.03,299.0,8.1,D,0,Zimbabwe,Africa
4848244,-20.7198,30.8747,316.0,1.8,1.3,2024-12-30,740,Terra,MODIS,28,61.03,291.9,15.6,D,0,Zimbabwe,Africa
4848245,-18.4297,26.5058,304.7,1.1,1.1,2024-12-30,1949,Terra,MODIS,32,61.03,289.9,7.3,N,0,Zimbabwe,Africa
4848246,-18.4284,26.5163,302.6,1.1,1.1,2024-12-30,1949,Terra,MODIS,31,61.03,288.1,5.3,N,0,Zimbabwe,Africa

In [19]:
all_data['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

In [20]:
africa = all_data[all_data['continent']=="Africa"]
asia = all_data[all_data['continent']=="Asia"]
oceania = all_data[all_data['continent']=="Oceania"]
north_america = all_data[all_data['continent']=="North America"]
south_america = all_data[all_data['continent']=="South America"]
europe = all_data[all_data['continent']=="Europe"]

In [21]:
import pandas as pd
import json

# Load the TopoJSON
with open("countries-110m.json") as f:
    topo = json.load(f)

# Extract country names from TopoJSON
topo_countries = [c["properties"]["name"] for c in topo["objects"]["countries"]["geometries"]]

In [24]:
africa_countries = africa['country'].unique()
unmapped = [c for c in africa_countries if c not in topo_countries]
print("Countries in CSV not found in TopoJSON:", unmapped)

Countries in CSV not found in TopoJSON: ['Cape Verde', 'Central African Republic', 'Comoros', 'Cote d Ivoire', 'Democratic Republic of the Congo', 'Equatorial Guinea', 'Mauritius', 'Mayotte', 'Republic of Congo', 'Reunion', 'Saint Helena', 'Sao Tome and Principe', 'Seychelles', 'South Sudan', 'Swaziland', 'The Gambia']